* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    /*background-color: #373E98; 
    background-color: #CEB92C;
    background-color: #2A2A2A;*/
    background-color: #FEE36E; 
}
container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #373E98; 
    background-color: #CEB92C;
    background-color: #2A2A2A;*/
    background-color: #FEE36E; 
}
h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
#formContainer {
    display: none;
    background-color: white;
    position: absolute;
    top: 117px;
    width: 500px;
}
#btn {
    border: solid black;
    border-width: thick;
    border-radius: 10px;
    height: 50px;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
#form {
    padding: 10px;
}
#lib {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
}
.book {
    background-color: #F16775;
    /*border: solid #FEE36E;
    border: solid #373E98;*/
    border: solid black;
    border-width: thick;
    border-radius: 10px;
    height: 200px;
    width: 370px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
    gap: 10px;
    word-break: break-all;
}

.bookTitle {
    font-weight: bolder;
    font-size: 24px;
}
.bookAuthor {
    font-size: 20px;
}
.removeBtn, .readBook {
    height: 45px;
    width: 115px;
    font-size: 20px;
    border-radius:10px;
}

#formContainer {
    background-color: white;
    height: 350px;
    width: auto;
    border: solid black;
    border-width: thick;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
fieldset {
    width: 350px;
    height: 300px;
}
legend {
    color: black
    font-size: 100px;
}
label {
    color: black;
    font-size: 20px;
}
