container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formContainer {
    /*display: none;*/
    background-color: white;
    position: absolute;
    top: 117px;
    width: 500px;
}
#form {
    padding: 10px;

}


#lib {
    display: flex;
    border: solid red;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}