container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form {
    display: none;
}

#lib {
    display: flex;
    border: solid red;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}